{% extends "main/base.html" %}

{% load static %}
{% load humanize %}
{% block content %}


                <div class="container-fluid page__container page-section pb-0">
                    <h1 class="h2 mb-0">Stake</h1>

                    <ol class="breadcrumb p-0 m-0">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>

                        <li class="breadcrumb-item">

                            <a href="">Components</a>

                        </li>

                        <li class="breadcrumb-item active">

                            Staking

                        </li>

                    </ol>

                </div>
                <style type="text/css">
                    .liquidity {
    background:linear-gradient(0deg, rgba(33, 36, 41, 0.8), rgba(33, 36, 41, 0.8)), url(https://png.pngtree.com/background/20210715/original/pngtree-blue-ocean-bank-card-plant-background-picture-image_1283663.jpg); background-size:cover; background-position: center;
    border-radius: 15px; 
    border: none;
}

.liquidity2 {
    background:linear-gradient(0deg, rgba(33, 36, 41, 0.8), rgba(33, 36, 41, 0.8)), url(https://img.freepik.com/free-vector/colorful-futuristic-background-with-shiny-particles_52683-42650.jpg); background-size:cover; background-position: center;
    border-radius: 15px; 
    border: none;
}
.liquidity3 {
    background:linear-gradient(0deg, rgba(33, 36, 41, 0.8), rgba(33, 36, 41, 0.8)), url(https://img.freepik.com/free-vector/gradient-technology-futuristic-background_23-2149131653.jpg); background-size:cover; background-position: center;
    border-radius: 15px; 
    border: none;
}


                </style>

                <div class="container-fluid page__container page-section">

                    <div class="card border-left-4 border-left-accent card-sm mb-lg-32pt liquidity">
                        <div class="card-body pl-16pt">
                            <div class="media flex-wrap align-items-center">
                                <div class="media-left">
                                    <i class="material-icons text-50">access_time</i>
                                </div>
                                <div class="media-body"
                                     style="min-width: 180px; color: #ffffff !important;">
                                   Cronetworks Liquidity  <strong style="color: #ffffff !important;">Mining Rewards</strong>
                                    <br>
                                    Deposit your Liquidity Provider tokens to receive CRT, the CRONETWORTs protocol governance token.
                                </div>
                                <div class="media-right mt-2 mt-sm-0">
                                    <a class="btn btn-link text-secondary"
                                       href="boxed-student-billing.html">Upgrade</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center mb-8pt">
                        <div class="col-md-6 ">
                            <div class="card liquidity2">
                                <div class="card-body">
                                    <h4 class="card-title" style="font-size: 30px; color: #ffffff !important;"><img width="50px" src="https://cronetworks.com/static/assets/img/cronetworks.png">Cronetworks</h4>
                                    
                                </div>
                                <div class="d-flex align-items-center m-20" style="margin: 10px">
                                    <div class="text-muted flex" style="color: #ffffff !important;">Total deposited</div>
                                    <div class="dropup">
                                        <a href="#" style="color: #ffffff !important;">
                                           
                                            $2,345,672
                                        </a>
                                        
                                    </div>

                                </div>
                                <div class="d-flex align-items-center" style="border-top: none; margin: 10px">
                                    <div class="text-muted flex" style="color: #ffffff !important;">Pool Rate</div>
                                    <div class="dropup">
                                        <a href="#" style="color: #ffffff !important;">
                                           
                                            2000 CRT/WEEK
                                        </a>
                                        
                                    </div>
                                    
                                </div>
                                <div class="d-flex align-items-center" style="border-top: none; margin: 10px; color: #ffffff;">
                                    <div class="text-muted flex" style="color: #ffffff !important;">APR</div>
                                    <div class="dropup">
                                        <a href="#" style="color: #ffffff !important;">
                                           
                                            50%
                                        </a>
                                        
                                    </div>
                                    
                                </div>
                                <div class="d-flex align-items-center" style="border-top: none; margin: 10px">
                                    <div class="text-muted flex" style="color: #ffffff !important;">Reward Starts:</div>
                                    <div class="dropup">
                                        <a href="#" style="color: #ffffff !important;">
                                           
                                            Reward Ends:
                                        </a>
                                        
                                    </div>
                                    
                                </div>

                                 <a style="margin: 10px;" href="#"
                                       class="btn btn-outline-success">Deposit Cronetworks</a>

                            </div>
                        </div>

                        <div class="col-md-6 ">
                            <div class="card liquidity3">
                                <div class="card-body">
                                    <h4 class="card-title" style="font-size: 30px; color: #ffffff !important;"><img width="50px" src="https://cronetworks.com/static/assets/img/cronetworks.png">Cronetworks</h4>
                                    
                                </div>
                                <div class="d-flex align-items-center m-20" style="margin: 10px">
                                    <div class="text-muted flex" style="color: #ffffff !important;">Total deposited</div>
                                    <div class="dropup">
                                        <a href="#" style="color: #ffffff !important;">
                                           
                                            $2,345,672
                                        </a>
                                        
                                    </div>

                                </div>
                                <div class="d-flex align-items-center" style="border-top: none; margin: 10px">
                                    <div class="text-muted flex" style="color: #ffffff !important;">Pool Rate</div>
                                    <div class="dropup">
                                        <a href="#" style="color: #ffffff !important;">
                                           
                                            2000 CRT/WEEK
                                        </a>
                                        
                                    </div>
                                    
                                </div>
                                <div class="d-flex align-items-center" style="border-top: none; margin: 10px; color: #ffffff;">
                                    <div class="text-muted flex" style="color: #ffffff !important;">APR</div>
                                    <div class="dropup">
                                        <a href="#" style="color: #ffffff !important;">
                                           
                                            50%
                                        </a>
                                        
                                    </div>
                                    
                                </div>
                                <div class="d-flex align-items-center" style="border-top: none; margin: 10px">
                                    <div class="text-muted flex" style="color: #ffffff !important;">Reward Starts:</div>
                                    <div class="dropup">
                                        <a href="#" style="color: #ffffff !important;">
                                           
                                            Reward Ends:
                                        </a>
                                        
                                    </div>
                                    
                                </div>

                                 <a style="margin: 10px;" href="#"
                                       class="btn btn-outline-success">Deposit Cronetworks</a>

                            </div>
                        </div>
                    </div>

                    

                    

                    

                </div>
{% endblock %}